$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-apachecordova: "\e900";
$icon-expo: "\e901";
$icon-society6: "\e902";
$icon-analogue: "\e903";
$icon-tomorrowland: "\e904";
$icon-protonmail: "\e905";
$icon-kirby: "\e906";
$icon-hackaday: "\e907";
$icon-squarespace: "\e908";
$icon-mdnwebdocs: "\e909";
$icon-directus: "\e90a";
$icon-mozilla: "\e90b";
$icon-json: "\e90c";
$icon-citrix: "\e90d";
$icon-katana: "\e90e";
$icon-rust: "\e90f";
$icon-airplayvideo: "\e910";
$icon-claris: "\e911";
$icon-glitch: "\e912";
$icon-invoiceninja: "\e913";
$icon-conda-forge: "\e914";
$icon-citroen: "\e915";
$icon-styleshare: "\e916";
$icon-hootsuite: "\e917";
$icon-libuv: "\e918";
$icon-grav: "\e919";
$icon-ios: "\e91a";
$icon-bugsnag: "\e91b";
$icon-contactlesspayment: "\e91c";
$icon-flask: "\e91d";
$icon-cryengine: "\e91e";
$icon-appletv: "\e91f";
$icon-discourse: "\e920";
$icon-codepen: "\e921";
$icon-stackpath: "\e922";
$icon-airplayaudio: "\e923";
$icon-ello: "\e924";
$icon-activision: "\e925";
$icon-applemusic: "\e926";
$icon-angellist: "\e927";
$icon-matrix: "\e928";
$icon-intellijidea: "\e929";
$icon-anchor: "\e92a";
$icon-wikipedia: "\e92b";
$icon-internetarchive: "\e92c";
$icon-inkscape: "\e92d";
$icon-diaspora: "\e92e";
$icon-ea: "\e92f";
$icon-deno: "\e930";
$icon-jetbrains: "\e931";
$icon-blackberry: "\e932";
$icon-applepay: "\e933";
$icon-gutenberg: "\e934";
$icon-eleventy: "\e935";
$icon-codeclimate: "\e936";
$icon-myspace: "\e937";
$icon-staticman: "\e938";
$icon-baidu: "\e939";
$icon-hbo: "\e93a";
$icon-mapbox: "\e93b";
$icon-markdown: "\e93c";
$icon-jsonwebtokens: "\e93d";
$icon-codesandbox: "\e93e";
$icon-eyeem: "\e93f";
$icon-digg: "\e940";
$icon-dolby: "\e941";
$icon-farfetch: "\e942";
$icon-apachekafka: "\e943";
$icon-flattr: "\e944";
$icon-whitesource: "\e945";
$icon-visualstudio: "\e946";
$icon-steam: "\e947";
$icon-niconico: "\e948";
$icon-zeit: "\e949";
$icon-wire: "\e94a";
$icon-vsco: "\e94b";
$icon-purescript: "\e94c";
$icon-django: "\e94d";
$icon-llvm: "\e94e";
$icon-monzo: "\e94f";
$icon-figshare: "\e950";
$icon-bigcartel: "\e951";
$icon-matternet: "\e952";
$icon-codechef: "\e953";
$icon-academia: "\e954";
$icon-workplace: "\e955";
$icon-wiiu: "\e956";
$icon-unrealengine: "\e957";
$icon-gerrit: "\e958";
$icon-safari: "\e959";
$icon-synology: "\e95a";
$icon-gimp: "\e95b";
$icon-drone: "\e95c";
$icon-github: "\e95d";
$icon-seat: "\e95e";
$icon-steamworks: "\e95f";
$icon-epicgames: "\e960";
$icon-simpleicons: "\e961";
$icon-laravelnova: "\e962";
$icon-webstorm: "\e963";
$icon-circleci: "\e964";
$icon-thewashingtonpost: "\e965";
$icon-opencontainersinitiative: "\e966";
$icon-wii: "\e967";
$icon-asana: "\e968";
$icon-googleplay: "\e969";
$icon-newyorktimes: "\e96a";
$icon-medium: "\e96b";
$icon-mediatemple: "\e96c";
$icon-notion: "\e96d";
$icon-mxlinux: "\e96e";
$icon-pagekit: "\e96f";
$icon-qi: "\e970";
$icon-midi: "\e971";
$icon-next-dot-js: "\e972";
$icon-ethereum: "\e973";
$icon-wwe: "\e974";
$icon-unsplash: "\e975";
$icon-php: "\e976";
$icon-atom: "\e977";
$icon-materialdesign: "\e978";
$icon-stylus: "\e979";
$icon-scrutinizerci: "\e97a";
$icon-coffeescript: "\e97b";
$icon-tide: "\e97c";
$icon-unity: "\e97d";
$icon-ubisoft: "\e97e";
$icon-lgtm: "\e97f";
$icon-campaignmonitor: "\e980";
$icon-badgr: "\e981";
$icon-statamic: "\e982";
$icon-yamahacorporation: "\e983";
$icon-librarything: "\e984";
$icon-obsstudio: "\e985";
$icon-vmware: "\e986";
$icon-slackware: "\e987";
$icon-sonos: "\e988";
$icon-redux: "\e989";
$icon-paritysubstrate: "\e98a";
$icon-adobefonts: "\e98b";
$icon-known: "\e98c";
$icon-hackerone: "\e98d";
$icon-codacy: "\e98e";
$icon-mazda: "\e98f";
$icon-socket-dot-io: "\e990";
$icon-notist: "\e991";
$icon-feathub: "\e992";
$icon-microsoft: "\e993";
$icon-square: "\e994";
$icon-mercedes: "\e995";
$icon-awesomewm: "\e996";
$icon-tryitonline: "\e997";
$icon-instapaper: "\e998";
$icon-symfony: "\e999";
$icon-tidal: "\e99a";
$icon-palantir: "\e99b";
$icon-codeship: "\e99c";
$icon-nintendo: "\e99d";
$icon-litecoin: "\e99e";
$icon-reasonstudios: "\e99f";
$icon-cirrusci: "\e9a0";
$icon-stitcher: "\e9a1";
$icon-tiktok: "\e9a2";
$icon-quantcast: "\e9a3";
$icon-webrtc: "\e9a4";
$icon-dev-dot-to: "\e9a5";
$icon-discogs: "\e9a6";
$icon-hackerearth: "\e9a7";
$icon-affinity: "\e9a8";
$icon-abstract: "\e9a9";
$icon-nuke: "\e9aa";
$icon-oculus: "\e9ab";
$icon-uber: "\e9ac";
$icon-amazonaws: "\e9ad";
$icon-conekta: "\e9ae";
$icon-automatic: "\e9af";
$icon-apple: "\e9b0";
$icon-samsung: "\e9b1";
$icon-monster: "\e9b2";
$icon-adonisjs: "\e9b3";
$icon-datadog: "\e9b4";
$icon-htmlacademy: "\e9b5";
$icon-tails: "\e9b6";
$icon-twitch: "\e9b7";
$icon-spacemacs: "\e9b8";
$icon-roots: "\e9b9";
$icon-eslint: "\e9ba";
$icon-pyup: "\e9bb";
$icon-harbor: "\e9bc";
$icon-webassembly: "\e9bd";
$icon-nintendogamecube: "\e9be";
$icon-happycow: "\e9bf";
$icon-showpad: "\e9c0";
$icon-nucleo: "\e9c1";
$icon-samsungpay: "\e9c2";
$icon-microsoftteams: "\e9c3";
$icon-centos: "\e9c4";
$icon-apollographql: "\e9c5";
$icon-snyk: "\e9c6";
$icon-viber: "\e9c7";
$icon-favro: "\e9c8";
$icon-algolia: "\e9c9";
$icon-gnuemacs: "\e9ca";
$icon-gentoo: "\e9cb";
$icon-stellar: "\e9cc";
$icon-terraform: "\e9cd";
$icon-eclipseide: "\e9ce";
$icon-haskell: "\e9cf";
$icon-dot-net: "\e9d0";
$icon-circle: "\e9d1";
$icon-heroku: "\e9d2";
$icon-bootstrap: "\e9d3";
$icon-crehana: "\e9d4";
$icon-nec: "\e9d5";
$icon-spectrum: "\e9d6";
$icon-uplabs: "\e9d7";
$icon-spotlight: "\e9d8";
$icon-marketo: "\e9d9";
$icon-webauthn: "\e9da";
$icon-affinityphoto: "\e9db";
$icon-yahoo: "\e9dc";
$icon-amazonlumberyard: "\e9dd";
$icon-unicode: "\e9de";
$icon-prismic: "\e9df";
$icon-pinboard: "\e9e0";
$icon-lua: "\e9e1";
$icon-waze: "\e9e2";
$icon-slashdot: "\e9e3";
$icon-playstation: "\e9e4";
$icon-zhihu: "\e9e5";
$icon-z-wave: "\e9e6";
$icon-peugeot: "\e9e7";
$icon-flood: "\e9e8";
$icon-googlepay: "\e9e9";
$icon-airbus: "\e9ea";
$icon-delicious: "\e9eb";
$icon-riot: "\e9ec";
$icon-electron: "\e9ed";
$icon-dropbox: "\e9ee";
$icon-musescore: "\e9ef";
$icon-cinema4d: "\e9f0";
$icon-googlecloud: "\e9f1";
$icon-aral: "\e9f2";
$icon-tumblr: "\e9f3";
$icon-materialdesignicons: "\e9f4";
$icon-googledrive: "\e9f5";
$icon-googlemaps: "\e9f6";
$icon-googlemessages: "\e9f7";
$icon-fedora: "\e9f8";
$icon-powershell: "\e9f9";
$icon-pandora: "\e9fa";
$icon-octopusdeploy: "\e9fb";
$icon-password: "\e9fc";
$icon-webmin: "\e9fd";
$icon-nuget: "\e9fe";
$icon-googleads: "\e9ff";
$icon-microsoftword: "\ea00";
$icon-hipchat: "\ea01";
$icon-dailymotion: "\ea02";
$icon-vk: "\ea03";
$icon-riseup: "\ea04";
$icon-furrynetwork: "\ea05";
$icon-bancontact: "\ea06";
$icon-epson: "\ea07";
$icon-flickr: "\ea08";
$icon-godotengine: "\ea09";
$icon-mariadbfoundation: "\ea0a";
$icon-googlesearchconsole: "\ea0b";
$icon-vagrant: "\ea0c";
$icon-nativescript: "\ea0d";
$icon-atlassian: "\ea0e";
$icon-playstation4: "\ea0f";
$icon-nfc: "\ea10";
$icon-zillow: "\ea11";
$icon-dblp: "\ea12";
$icon-digitalocean: "\ea13";
$icon-actigraph: "\ea14";
$icon-imgur: "\ea15";
$icon-microsoftvisio: "\ea16";
$icon-transportforireland: "\ea17";
$icon-clojure: "\ea18";
$icon-andela: "\ea19";
$icon-fossa: "\ea1a";
$icon-keybase: "\ea1b";
$icon-iconify: "\ea1c";
$icon-eclipsemosquitto: "\ea1d";
$icon-framer: "\ea1e";
$icon-googlepodcasts: "\ea1f";
$icon-googleassistant: "\ea20";
$icon-ibm: "\ea21";
$icon-windowsxp: "\ea22";
$icon-bamboo: "\ea23";
$icon-wix: "\ea24";
$icon-googlechrome: "\ea25";
$icon-cloudcannon: "\ea26";
$icon-generalmotors: "\ea27";
$icon-googlemybusiness: "\ea28";
$icon-statuspage: "\ea29";
$icon-v8: "\ea2a";
$icon-ford: "\ea2b";
$icon-pepsi: "\ea2c";
$icon-warnerbros-dot: "\ea2d";
$icon-scania: "\ea2e";
$icon-ndr: "\ea2f";
$icon-solus: "\ea30";
$icon-coursera: "\ea31";
$icon-stackexchange: "\ea32";
$icon-coinbase: "\ea33";
$icon-gnome: "\ea34";
$icon-r: "\ea35";
$icon-icloud: "\ea36";
$icon-pr-dot-co: "\ea37";
$icon-pypi: "\ea38";
$icon-paypal: "\ea39";
$icon-teamviewer: "\ea3a";
$icon-dart: "\ea3b";
$icon-pluscodes: "\ea3c";
$icon-xrp: "\ea3d";
$icon-nokia: "\ea3e";
$icon-behance: "\ea3f";
$icon-googleclassroom: "\ea40";
$icon-mixer: "\ea41";
$icon-dynamics365: "\ea42";
$icon-strapi: "\ea43";
$icon-googletagmanager: "\ea44";
$icon-indeed: "\ea45";
$icon-playstation3: "\ea46";
$icon-fedramp: "\ea47";
$icon-mixcloud: "\ea48";
$icon-fifa: "\ea49";
$icon-xmpp: "\ea4a";
$icon-protocols-dot-io: "\ea4b";
$icon-alliedmodders: "\ea4c";
$icon-shazam: "\ea4d";
$icon-dynatrace: "\ea4e";
$icon-mail-dot-ru: "\ea4f";
$icon-venmo: "\ea50";
$icon-twitter: "\ea51";
$icon-pastebin: "\ea52";
$icon-repl-dot-it: "\ea53";
$icon-googlelens: "\ea54";
$icon-nixos: "\ea55";
$icon-quicktime: "\ea56";
$icon-breaker: "\ea57";
$icon-googleearth: "\ea58";
$icon-androidauto: "\ea59";
$icon-xaml: "\ea5a";
$icon-realm: "\ea5b";
$icon-archicad: "\ea5c";
$icon-googletranslate: "\ea5d";
$icon-volkswagen: "\ea5e";
$icon-wearos: "\ea5f";
$icon-azurepipelines: "\ea60";
$icon-boeing: "\ea61";
$icon-codio: "\ea62";
$icon-google: "\ea63";
$icon-googlecalendar: "\ea64";
$icon-tata: "\ea65";
$icon-googleadsense: "\ea66";
$icon-prezi: "\ea67";
$icon-lufthansa: "\ea68";
$icon-confluence: "\ea69";
$icon-phabricator: "\ea6a";
$icon-opsgenie: "\ea6b";
$icon-discord: "\ea6c";
$icon-bitbucket: "\ea6d";
$icon-opencollective: "\ea6e";
$icon-hashnode: "\ea6f";
$icon-googlescholar: "\ea70";
$icon-ryanair: "\ea71";
$icon-googlefit: "\ea72";
$icon-qualcomm: "\ea73";
$icon-xcode: "\ea74";
$icon-playstation2: "\ea75";
$icon-daserste: "\ea76";
$icon-ionic: "\ea77";
$icon-jira: "\ea78";
$icon-googlenearby: "\ea79";
$icon-designernews: "\ea7a";
$icon-kubernetes: "\ea7b";
$icon-toptal: "\ea7c";
$icon-subversion: "\ea7d";
$icon-v: "\ea7e";
$icon-visa: "\ea7f";
$icon-facebook: "\ea80";
$icon-box: "\ea81";
$icon-jcb: "\ea82";
$icon-fila: "\ea83";
$icon-apachenetbeanside: "\ea84";
$icon-buddy: "\ea85";
$icon-xfce: "\ea86";
$icon-f-droid: "\ea87";
$icon-publons: "\ea88";
$icon-ovh: "\ea89";
$icon-netapp: "\ea8a";
$icon-rstudio: "\ea8b";
$icon-americanexpress: "\ea8c";
$icon-letsencrypt: "\ea8d";
$icon-steem: "\ea8e";
$icon-fontawesome: "\ea8f";
$icon-yammer: "\ea90";
$icon-affinitydesigner: "\ea91";
$icon-postgresql: "\ea92";
$icon-pivotaltracker: "\ea93";
$icon-signal: "\ea94";
$icon-renren: "\ea95";
$icon-mysql: "\ea96";
$icon-microsoftsharepoint: "\ea97";
$icon-teamspeak: "\ea98";
$icon-w3c: "\ea99";
$icon-mattermost: "\ea9a";
$icon-codecademy: "\ea9b";
$icon-stackbit: "\ea9c";
$icon-concourse: "\ea9d";
$icon-storify: "\ea9e";
$icon-hexo: "\ea9f";
$icon-elm: "\eaa0";
$icon-clockify: "\eaa1";
$icon-svgo: "\eaa2";
$icon-jenkinsx: "\eaa3";
$icon-semaphoreci: "\eaa4";
$icon-vuetify: "\eaa5";
$icon-lubuntu: "\eaa6";
$icon-joomla: "\eaa7";
$icon-buffer: "\eaa8";
$icon-windows: "\eaa9";
$icon-chase: "\eaaa";
$icon-first: "\eaab";
$icon-webmoney: "\eaac";
$icon-plangrid: "\eaad";
$icon-visualstudiocode: "\eaae";
$icon-iata: "\eaaf";
$icon-zingat: "\eab0";
$icon-sonarqube: "\eab1";
$icon-staffbase: "\eab2";
$icon-iconjar: "\eab3";
$icon-linuxfoundation: "\eab4";
$icon-microsoftazure: "\eab5";
$icon-dunked: "\eab6";
$icon-travisci: "\eab7";
$icon-zoom: "\eab8";
$icon-nutanix: "\eab9";
$icon-stubhub: "\eaba";
$icon-hyundai: "\eabb";
$icon-githubactions: "\eabc";
$icon-quarkus: "\eabd";
$icon-onstar: "\eabe";
$icon-deepin: "\eabf";
$icon-dcentertainment: "\eac0";
$icon-zend: "\eac1";
$icon-c: "\eac2";
$icon-gnuicecat: "\eac3";
$icon-laravelhorizon: "\eac4";
$icon-bluetooth: "\eac5";
$icon-ibeacon: "\eac6";
$icon-opslevel: "\eac7";
$icon-apachepulsar: "\eac8";
$icon-jsfiddle: "\eac9";
$icon-intercom: "\eaca";
$icon-mastodon: "\eacb";
$icon-python: "\eacc";
$icon-disqus: "\eacd";
$icon-uikit: "\eace";
$icon-coderwall: "\eacf";
$icon-internetexplorer: "\ead0";
$icon-ifixit: "\ead1";
$icon-flutter: "\ead2";
$icon-cmake: "\ead3";
$icon-elementary: "\ead4";
$icon-stackshare: "\ead5";
$icon-docker: "\ead6";
$icon-microsoftedge: "\ead7";
$icon-castorama: "\ead8";
$icon-azuredevops: "\ead9";
$icon-microsoftoutlook: "\eada";
$icon-microsoftonedrive: "\eadb";
$icon-microsoftexchange: "\eadc";
$icon-intel: "\eadd";
$icon-gov-dot-uk: "\eade";
$icon-cplusplus: "\eadf";
$icon-semanticweb: "\eae0";
$icon-volvo: "\eae1";
$icon-readthedocs: "\eae2";
$icon-krita: "\eae3";
$icon-cesium: "\eae4";
$icon-bmw: "\eae5";
$icon-jquery: "\eae6";
$icon-css3: "\eae7";
$icon-chartmogul: "\eae8";
$icon-shopware: "\eae9";
$icon-appstore: "\eaea";
$icon-mediafire: "\eaeb";
$icon-xamarin: "\eaec";
$icon-typescript: "\eaed";
$icon-scribd: "\eaee";
$icon-keycdn: "\eaef";
$icon-freedesktop-dot-org: "\eaf0";
$icon-spacex: "\eaf1";
$icon-coveralls: "\eaf2";
$icon-symphony: "\eaf3";
$icon-tracklists: "\eaf4";
$icon-dash: "\eaf5";
$icon-drupal: "\eaf6";
$icon-codeforces: "\eaf7";
$icon-bitwarden: "\eaf8";
$icon-curl: "\eaf9";
$icon-dassaultsystemes: "\eafa";
$icon-stripe: "\eafb";
$icon-brand-dot-ai: "\eafc";
$icon-apacheopenoffice: "\eafd";
$icon-material-ui: "\eafe";
$icon-fluentd: "\eaff";
$icon-adobelightroomclassic: "\eb00";
$icon-hackster: "\eb01";
$icon-logmein: "\eb02";
$icon-superuser: "\eb03";
$icon-wordpress: "\eb04";
$icon-mathworks: "\eb05";
$icon-skypeforbusiness: "\eb06";
$icon-ulule: "\eb07";
$icon-aerlingus: "\eb08";
$icon-umbraco: "\eb09";
$icon-aircall: "\eb0a";
$icon-webpack: "\eb0b";
$icon-teespring: "\eb0c";
$icon-sat-dot-1: "\eb0d";
$icon-brandfolder: "\eb0e";
$icon-spdx: "\eb0f";
$icon-trello: "\eb10";
$icon-nextcloud: "\eb11";
$icon-ghost: "\eb12";
$icon-salesforce: "\eb13";
$icon-bathasu: "\eb14";
$icon-airtable: "\eb15";
$icon-f-secure: "\eb16";
$icon-qualtrics: "\eb17";
$icon-kibana: "\eb18";
$icon-adobephonegap: "\eb19";
$icon-datacamp: "\eb1a";
$icon-bandcamp: "\eb1b";
$icon-proto-dot-io: "\eb1c";
$icon-lineageos: "\eb1d";
$icon-influxdb: "\eb1e";
$icon-sap: "\eb1f";
$icon-wikimediacommons: "\eb20";
$icon-homeassistant: "\eb21";
$icon-plesk: "\eb22";
$icon-cisco: "\eb23";
$icon-elasticstack: "\eb24";
$icon-minutemailer: "\eb25";
$icon-siemens: "\eb26";
$icon-here: "\eb27";
$icon-deliveroo: "\eb28";
$icon-saltstack: "\eb29";
$icon-microsoftexcel: "\eb2a";
$icon-crunchbase: "\eb2b";
$icon-acm: "\eb2c";
$icon-cloudsmith: "\eb2d";
$icon-osmc: "\eb2e";
$icon-opengl: "\eb2f";
$icon-px: "\eb30";
$icon-xsplit: "\eb31";
$icon-archlinux: "\eb32";
$icon-sega: "\eb33";
$icon-iobroker: "\eb34";
$icon-reactos: "\eb35";
$icon-linkedin: "\eb36";
$icon-dependabot: "\eb37";
$icon-aventrix: "\eb38";
$icon-virb: "\eb39";
$icon-evry: "\eb3a";
$icon-roundcube: "\eb3b";
$icon-gitpod: "\eb3c";
$icon-topcoder: "\eb3d";
$icon-ripple: "\eb3e";
$icon-floatplane: "\eb3f";
$icon-compropago: "\eb40";
$icon-artstation: "\eb41";
$icon-expertsexchange: "\eb42";
$icon-cassandra: "\eb43";
$icon-elastic: "\eb44";
$icon-tencentweibo: "\eb45";
$icon-zorin: "\eb46";
$icon-amazonalexa: "\eb47";
$icon-probot: "\eb48";
$icon-exercism: "\eb49";
$icon-arduino: "\eb4a";
$icon-magisk: "\eb4b";
$icon-googlehangoutschat: "\eb4c";
$icon-kaspersky: "\eb4d";
$icon-adobeaudition: "\eb4e";
$icon-nuxt-dot-js: "\eb4f";
$icon-vine: "\eb50";
$icon-googlesheets: "\eb51";
$icon-speakerdeck: "\eb52";
$icon-gravatar: "\eb53";
$icon-alipay: "\eb54";
$icon-sitepoint: "\eb55";
$icon-kaggle: "\eb56";
$icon-octave: "\eb57";
$icon-at-and-t: "\eb58";
$icon-periscope: "\eb59";
$icon-java: "\eb5a";
$icon-mariadb: "\eb5b";
$icon-cloudbees: "\eb5c";
$icon-dashlane: "\eb5d";
$icon-apacheairflow: "\eb5e";
$icon-fitbit: "\eb5f";
$icon-garmin: "\eb60";
$icon-freelancer: "\eb61";
$icon-gnuprivacyguard: "\eb62";
$icon-alpinelinux: "\eb63";
$icon-telegram: "\eb64";
$icon-kotlin: "\eb65";
$icon-dell: "\eb66";
$icon-vbulletin: "\eb67";
$icon-battle-dot-net: "\eb68";
$icon-googlecast: "\eb69";
$icon-webcomponents-dot-org: "\eb6a";
$icon-hockeyapp: "\eb6b";
$icon-hp: "\eb6c";
$icon-yarn: "\eb6d";
$icon-habr: "\eb6e";
$icon-helm: "\eb6f";
$icon-messenger: "\eb70";
$icon-wish: "\eb71";
$icon-write-dot-as: "\eb72";
$icon-cevo: "\eb73";
$icon-klm: "\eb74";
$icon-neo4j: "\eb75";
$icon-fossilscm: "\eb76";
$icon-skype: "\eb77";
$icon-hatenabookmark: "\eb78";
$icon-groovy: "\eb79";
$icon-smartthings: "\eb7a";
$icon-sourcegraph: "\eb7b";
$icon-xero: "\eb7c";
$icon-livejournal: "\eb7d";
$icon-vimeo: "\eb7e";
$icon-co-op: "\eb7f";
$icon-kodi: "\eb80";
$icon-x-pack: "\eb81";
$icon-logstash: "\eb82";
$icon-elasticsearch: "\eb83";
$icon-elasticcloud: "\eb84";
$icon-beats: "\eb85";
$icon-haveibeenpwned: "\eb86";
$icon-adobephotoshop: "\eb87";
$icon-rtlzwei: "\eb88";
$icon-react: "\eb89";
$icon-udacity: "\eb8a";
$icon-appveyor: "\eb8b";
$icon-go: "\eb8c";
$icon-gradle: "\eb8d";
$icon-spinnaker: "\eb8e";
$icon-zendesk: "\eb8f";
$icon-angularuniversal: "\eb90";
$icon-hackhands: "\eb91";
$icon-wpengine: "\eb92";
$icon-ipfs: "\eb93";
$icon-runkeeper: "\eb94";
$icon-skillshare: "\eb95";
$icon-gumroad: "\eb96";
$icon-icon: "\eb97";
$icon-canva: "\eb98";
$icon-adobelightroomcc: "\eb99";
$icon-fandom: "\eb9a";
$icon-latex: "\eb9b";
$icon-bandsintown: "\eb9c";
$icon-xing: "\eb9d";
$icon-pingup: "\eb9e";
$icon-tailwindcss: "\eb9f";
$icon-researchgate: "\eba0";
$icon-gitkraken: "\eba1";
$icon-clyp: "\eba2";
$icon-about-dot-me: "\eba3";
$icon-bulma: "\eba4";
$icon-zulip: "\eba5";
$icon-pexels: "\eba6";
$icon-homify: "\eba7";
$icon-nextdoor: "\eba8";
$icon-skyliner: "\eba9";
$icon-egnyte: "\ebaa";
$icon-netlify: "\ebab";
$icon-bing: "\ebac";
$icon-steemit: "\ebad";
$icon-androidstudio: "\ebae";
$icon-veeam: "\ebaf";
$icon-treehouse: "\ebb0";
$icon-castro: "\ebb1";
$icon-formstack: "\ebb2";
$icon-linewebtoon: "\ebb3";
$icon-deviantart: "\ebb4";
$icon-greenkeeper: "\ebb5";
$icon-koding: "\ebb6";
$icon-sellfy: "\ebb7";
$icon-evernote: "\ebb8";
$icon-khanacademy: "\ebb9";
$icon-transportforlondon: "\ebba";
$icon-trustpilot: "\ebbb";
$icon-tripadvisor: "\ebbc";
$icon-kickstarter: "\ebbd";
$icon-linode: "\ebbe";
$icon-vue-dot-js: "\ebbf";
$icon-googlehangouts: "\ebc0";
$icon-snapcraft: "\ebc1";
$icon-esea: "\ebc2";
$icon-pixabay: "\ebc3";
$icon-whatsapp: "\ebc4";
$icon-hackerrank: "\ebc5";
$icon-glassdoor: "\ebc6";
$icon-threema: "\ebc7";
$icon-picarto-dot-tv: "\ebc8";
$icon-cashapp: "\ebc9";
$icon-douban: "\ebca";
$icon-letterboxd: "\ebcb";
$icon-moo: "\ebcc";
$icon-themoviedatabase: "\ebcd";
$icon-geocaching: "\ebce";
$icon-fiverr: "\ebcf";
$icon-gauges: "\ebd0";
$icon-android: "\ebd1";
$icon-graphcool: "\ebd2";
$icon-spotify: "\ebd3";
$icon-lmms: "\ebd4";
$icon-vim: "\ebd5";
$icon-manjaro: "\ebd6";
$icon-postwoman: "\ebd7";
$icon-tableau: "\ebd8";
$icon-dazn: "\ebd9";
$icon-mongodb: "\ebda";
$icon-keras: "\ebdb";
$icon-applepodcasts: "\ebdc";
$icon-itunes: "\ebdd";
$icon-openbsd: "\ebde";
$icon-mailchimp: "\ebdf";
$icon-opensuse: "\ebe0";
$icon-etsy: "\ebe1";
$icon-neovim: "\ebe2";
$icon-zerply: "\ebe3";
$icon-pantheon: "\ebe4";
$icon-elsevier: "\ebe5";
$icon-rails: "\ebe6";
$icon-timescale: "\ebe7";
$icon-audiomack: "\ebe8";
$icon-angularjs: "\ebe9";
$icon-apache: "\ebea";
$icon-broadcom: "\ebeb";
$icon-bugatti: "\ebec";
$icon-nim: "\ebed";
$icon-untappd: "\ebee";
$icon-furaffinity: "\ebef";
$icon-askfm: "\ebf0";
$icon-monero: "\ebf1";
$icon-dlna: "\ebf2";
$icon-shopify: "\ebf3";
$icon-labview: "\ebf4";
$icon-imdb: "\ebf5";
$icon-redhat: "\ebf6";
$icon-toshiba: "\ebf7";
$icon-trakt: "\ebf8";
$icon-photocrowd: "\ebf9";
$icon-basecamp: "\ebfa";
$icon-openstreetmap: "\ebfb";
$icon-kik: "\ebfc";
$icon-grunt: "\ebfd";
$icon-discover: "\ebfe";
$icon-zapier: "\ebff";
$icon-fortinet: "\ec00";
$icon-vivaldi: "\ec01";
$icon-cnn: "\ec02";
$icon-cakephp: "\ec03";
$icon-azureartifacts: "\ec04";
$icon-codecov: "\ec05";
$icon-player-dot-me: "\ec06";
$icon-groupon: "\ec07";
$icon-postcss: "\ec08";
$icon-jekyll: "\ec09";
$icon-sinaweibo: "\ec0a";
$icon-affinitypublisher: "\ec0b";
$icon-paloaltosoftware: "\ec0c";
$icon-babel: "\ec0d";
$icon-spreaker: "\ec0e";
$icon-googlekeep: "\ec0f";
$icon-viadeo: "\ec10";
$icon-sparkpost: "\ec11";
$icon-microsoftpowerpoint: "\ec12";
$icon-serverless: "\ec13";
$icon-quora: "\ec14";
$icon-oracle: "\ec15";
$icon-adblock: "\ec16";
$icon-quantopian: "\ec17";
$icon-hitachi: "\ec18";
$icon-qiwi: "\ec19";
$icon-teradata: "\ec1a";
$icon-quest: "\ec1b";
$icon-svelte: "\ec1c";
$icon-addthis: "\ec1d";
$icon-lenovo: "\ec1e";
$icon-freecodecamp: "\ec1f";
$icon-parse-dot-ly: "\ec20";
$icon-gumtree: "\ec21";
$icon-duolingo: "\ec22";
$icon-openapiinitiative: "\ec23";
$icon-envato: "\ec24";
$icon-minds: "\ec25";
$icon-linux: "\ec26";
$icon-amazon: "\ec27";
$icon-chef: "\ec28";
$icon-qemu: "\ec29";
$icon-draugiem-dot-lv: "\ec2a";
$icon-wolframmathematica: "\ec2b";
$icon-reverbnation: "\ec2c";
$icon-openssl: "\ec2d";
$icon-youtube: "\ec2e";
$icon-yandex: "\ec2f";
$icon-nintendoswitch: "\ec30";
$icon-stadia: "\ec31";
$icon-debian: "\ec32";
$icon-codefactor: "\ec33";
$icon-gitter: "\ec34";
$icon-eventstore: "\ec35";
$icon-adobedreamweaver: "\ec36";
$icon-skoda: "\ec37";
$icon-ubereats: "\ec38";
$icon-renault: "\ec39";
$icon-monkeytie: "\ec3a";
$icon-gatling: "\ec3b";
$icon-bandlab: "\ec3c";
$icon-rubygems: "\ec3d";
$icon-ferrari: "\ec3e";
$icon-arxiv: "\ec3f";
$icon-chupachups: "\ec40";
$icon-strongswan: "\ec41";
$icon-celery: "\ec42";
$icon-feedly: "\ec43";
$icon-adguard: "\ec44";
$icon-nginx: "\ec45";
$icon-emlakjet: "\ec46";
$icon-minetest: "\ec47";
$icon-line: "\ec48";
$icon-csharp: "\ec49";
$icon-overleaf: "\ec4a";
$icon-instacart: "\ec4b";
$icon-wheniwork: "\ec4c";
$icon-untangle: "\ec4d";
$icon-upwork: "\ec4e";
$icon-empirekred: "\ec4f";
$icon-sensu: "\ec50";
$icon-civicrm: "\ec51";
$icon-qgis: "\ec52";
$icon-spring: "\ec53";
$icon-qiita: "\ec54";
$icon-trulia: "\ec55";
$icon-swagger: "\ec56";
$icon-linuxmint: "\ec57";
$icon-gitea: "\ec58";
$icon-adobetypekit: "\ec59";
$icon-sencha: "\ec5a";
$icon-nvidia: "\ec5b";
$icon-greensock: "\ec5c";
$icon-icq: "\ec5d";
$icon-pingdom: "\ec5e";
$icon-opel: "\ec5f";
$icon-javascript: "\ec60";
$icon-qwiklabs: "\ec61";
$icon-pagseguro: "\ec62";
$icon-fidoalliance: "\ec63";
$icon-rss: "\ec64";
$icon-pre-commit: "\ec65";
$icon-audible: "\ec66";
$icon-openaccess: "\ec67";
$icon-proxmox: "\ec68";
$icon-cloudflare: "\ec69";
$icon-grafana: "\ec6a";
$icon-x-dot-org: "\ec6b";
$icon-pjsip: "\ec6c";
$icon-sogou: "\ec6d";
$icon-bitly: "\ec6e";
$icon-cpanel: "\ec6f";
$icon-pluralsight: "\ec70";
$icon-maas: "\ec71";
$icon-producthunt: "\ec72";
$icon-prometheus: "\ec73";
$icon-soundcloud: "\ec74";
$icon-sentry: "\ec75";
$icon-ember-dot-js: "\ec76";
$icon-lumen: "\ec77";
$icon-hurriyetemlak: "\ec78";
$icon-filezilla: "\ec79";
$icon-weasyl: "\ec7a";
$icon-ebay: "\ec7b";
$icon-sonarlint: "\ec7c";
$icon-bosch: "\ec7d";
$icon-pocket: "\ec7e";
$icon-adblockplus: "\ec7f";
$icon-csswizardry: "\ec80";
$icon-apacheflink: "\ec81";
$icon-a-frame: "\ec82";
$icon-man: "\ec83";
$icon-hugo: "\ec84";
$icon-kaios: "\ec85";
$icon-anaconda: "\ec86";
$icon-beatport: "\ec87";
$icon-allocine: "\ec88";
$icon-launchpad: "\ec89";
$icon-docusign: "\ec8a";
$icon-googlestreetview: "\ec8b";
$icon-goldenline: "\ec8c";
$icon-prettier: "\ec8d";
$icon-loop: "\ec8e";
$icon-sourceengine: "\ec8f";
$icon-deezer: "\ec90";
$icon-creativecommons: "\ec91";
$icon-d3-dot-js: "\ec92";
$icon-vlcmediaplayer: "\ec93";
$icon-typo3: "\ec94";
$icon-apacherocketmq: "\ec95";
$icon-nintendonetwork: "\ec96";
$icon-carthrottle: "\ec97";
$icon-crunchyroll: "\ec98";
$icon-peertube: "\ec99";
$icon-sonicwall: "\ec9a";
$icon-rabbitmq: "\ec9b";
$icon-origin: "\ec9c";
$icon-mozillafirefox: "\ec9d";
$icon-kentico: "\ec9e";
$icon-reddit: "\ec9f";
$icon-todoist: "\eca0";
$icon-codewars: "\eca1";
$icon-meteor: "\eca2";
$icon-squareenix: "\eca3";
$icon-toggl: "\eca4";
$icon-pi-hole: "\eca5";
$icon-prosieben: "\eca6";
$icon-meetup: "\eca7";
$icon-microbit: "\eca8";
$icon-hulu: "\eca9";
$icon-xbox: "\ecaa";
$icon-node-dot-js: "\ecab";
$icon-opensourceinitiative: "\ecac";
$icon-emby: "\ecad";
$icon-libreoffice: "\ecae";
$icon-wemo: "\ecaf";
$icon-gnubash: "\ecb0";
$icon-nodemon: "\ecb1";
$icon-seagate: "\ecb2";
$icon-keepassxc: "\ecb3";
$icon-houzz: "\ecb4";
$icon-smugmug: "\ecb5";
$icon-zendframework: "\ecb6";
$icon-wechat: "\ecb7";
$icon-platzi: "\ecb8";
$icon-hellofresh: "\ecb9";
$icon-orcid: "\ecba";
$icon-genius: "\ecbb";
$icon-snapchat: "\ecbc";
$icon-eslgaming: "\ecbd";
$icon-sahibinden: "\ecbe";
$icon-shell: "\ecbf";
$icon-tapas: "\ecc0";
$icon-qzone: "\ecc1";
$icon-liberapay: "\ecc2";
$icon-sprint: "\ecc3";
$icon-pokemon: "\ecc4";
$icon-mcdonalds: "\ecc5";
$icon-tele5: "\ecc6";
$icon-jet: "\ecc7";
$icon-firebase: "\ecc8";
$icon-sketch: "\ecc9";
$icon-symantec: "\ecca";
$icon-fnac: "\eccb";
$icon-plex: "\eccc";
$icon-monogram: "\eccd";
$icon-puppet: "\ecce";
$icon-leetcode: "\eccf";
$icon-xdadevelopers: "\ecd0";
$icon-svg: "\ecd1";
$icon-abbrobotstudio: "\ecd2";
$icon-sublimetext: "\ecd3";
$icon-gitlab: "\ecd4";
$icon-swarm: "\ecd5";
$icon-bitcoin: "\ecd6";
$icon-wattpad: "\ecd7";
$icon-boost: "\ecd8";
$icon-micro-dot-blog: "\ecd9";
$icon-googleanalytics: "\ecda";
$icon-goodreads: "\ecdb";
$icon-slickpic: "\ecdc";
$icon-haxe: "\ecdd";
$icon-hive: "\ecde";
$icon-adobeillustrator: "\ecdf";
$icon-zdf: "\ece0";
$icon-openvpn: "\ece1";
$icon-mocha: "\ece2";
$icon-composer: "\ece3";
$icon-twoo: "\ece4";
$icon-stackoverflow: "\ece5";
$icon-tensorflow: "\ece6";
$icon-openid: "\ece7";
$icon-zalando: "\ece8";
$icon-xampp: "\ece9";
$icon-odnoklassniki: "\ecea";
$icon-ocaml: "\eceb";
$icon-antena3: "\ecec";
$icon-bmcsoftware: "\eced";
$icon-klout: "\ecee";
$icon-apachespark: "\ecef";
$icon-ycombinator: "\ecf0";
$icon-castbox: "\ecf1";
$icon-ubuntu: "\ecf2";
$icon-postman: "\ecf3";
$icon-houdini: "\ecf4";
$icon-highly: "\ecf5";
$icon-wprocket: "\ecf6";
$icon-duckduckgo: "\ecf7";
$icon-brave: "\ecf8";
$icon-hubspot: "\ecf9";
$icon-codeigniter: "\ecfa";
$icon-stencyl: "\ecfb";
$icon-git: "\ecfc";
$icon-patreon: "\ecfd";
$icon-issuu: "\ecfe";
$icon-jenkins: "\ecff";
$icon-reason: "\ed00";
$icon-jsdelivr: "\ed01";
$icon-wolfram: "\ed02";
$icon-wolframlanguage: "\ed03";
$icon-ted: "\ed04";
$icon-redis: "\ed05";
$icon-makerbot: "\ed06";
$icon-lastpass: "\ed07";
$icon-last-dot-fm: "\ed08";
$icon-ruby: "\ed09";
$icon-microsoftsqlserver: "\ed0a";
$icon-itch-dot-io: "\ed0b";
$icon-ko-fi: "\ed0c";
$icon-udemy: "\ed0d";
$icon-trainerroad: "\ed0e";
$icon-adobecreativecloud: "\ed0f";
$icon-fite: "\ed10";
$icon-humblebundle: "\ed11";
$icon-webgl: "\ed12";
$icon-tinder: "\ed13";
$icon-youtubestudio: "\ed14";
$icon-youtubegaming: "\ed15";
$icon-huawei: "\ed16";
$icon-sonarsource: "\ed17";
$icon-kyocera: "\ed18";
$icon-bitdefender: "\ed19";
$icon-amd: "\ed1a";
$icon-cdprojekt: "\ed1b";
$icon-verizon: "\ed1c";
$icon-tencentqq: "\ed1d";
$icon-microstrategy: "\ed1e";
$icon-veritas: "\ed1f";
$icon-vauxhall: "\ed20";
$icon-livestream: "\ed21";
$icon-honda: "\ed22";
$icon-beatsbydre: "\ed23";
$icon-steinberg: "\ed24";
$icon-vivino: "\ed25";
$icon-apachemaven: "\ed26";
$icon-nissan: "\ed27";
$icon-invision: "\ed28";
$icon-foursquare: "\ed29";
$icon-songkick: "\ed2a";
$icon-lg: "\ed2b";
$icon-asciidoctor: "\ed2c";
$icon-dribbble: "\ed2d";
$icon-ideal: "\ed2e";
$icon-adobexd: "\ed2f";
$icon-microsoftonenote: "\ed30";
$icon-fandango: "\ed31";
$icon-xiaomi: "\ed32";
$icon-jupyter: "\ed33";
$icon-blogger: "\ed34";
$icon-rollup-dot-js: "\ed35";
$icon-pocketcasts: "\ed36";
$icon-valve: "\ed37";
$icon-porsche: "\ed38";
$icon-jabber: "\ed39";
$icon-khronosgroup: "\ed3a";
$icon-archiveofourown: "\ed3b";
$icon-ublockorigin: "\ed3c";
$icon-convertio: "\ed3d";
$icon-youtubetv: "\ed3e";
$icon-suzuki: "\ed3f";
$icon-hypothesis: "\ed40";
$icon-fujifilm: "\ed41";
$icon-autotask: "\ed42";
$icon-alfaromeo: "\ed43";
$icon-slides: "\ed44";
$icon-pleroma: "\ed45";
$icon-overcast: "\ed46";
$icon-mix: "\ed47";
$icon-sourceforge: "\ed48";
$icon-easyjet: "\ed49";
$icon-blender: "\ed4a";
$icon-devrant: "\ed4b";
$icon-buymeacoffee: "\ed4c";
$icon-sonarcloud: "\ed4d";
$icon-coronaengine: "\ed4e";
$icon-faceit: "\ed4f";
$icon-strava: "\ed50";
$icon-magento: "\ed51";
$icon-swift: "\ed52";
$icon-poly: "\ed53";
$icon-microsoftoffice: "\ed54";
$icon-auth0: "\ed55";
$icon-googlecardboard: "\ed56";
$icon-figma: "\ed57";
$icon-smashingmagazine: "\ed58";
$icon-html5: "\ed59";
$icon-quip: "\ed5a";
$icon-lighthouse: "\ed5b";
$icon-coronarenderer: "\ed5c";
$icon-bower: "\ed5d";
$icon-apachesolr: "\ed5e";
$icon-pytorch: "\ed5f";
$icon-eventbrite: "\ed60";
$icon-adobeacrobatreader: "\ed61";
$icon-everplaces: "\ed62";
$icon-craftcms: "\ed63";
$icon-gmail: "\ed64";
$icon-buzzfeed: "\ed65";
$icon-sparkfun: "\ed66";
$icon-saucelabs: "\ed67";
$icon-laravel: "\ed68";
$icon-plurk: "\ed69";
$icon-scala: "\ed6a";
$icon-ferrarin-dot-v-dot: "\ed6b";
$icon-freebsd: "\ed6c";
$icon-gnu: "\ed6d";
$icon-epel: "\ed6e";
$icon-redhatopenshift: "\ed6f";
$icon-ansible: "\ed70";
$icon-manageiq: "\ed71";
$icon-vodafone: "\ed72";
$icon-zeromq: "\ed73";
$icon-flipboard: "\ed74";
$icon-asciinema: "\ed75";
$icon-tesla: "\ed76";
$icon-yelp: "\ed77";
$icon-mcafee: "\ed78";
$icon-npm: "\ed79";
$icon-jinja: "\ed7a";
$icon-node-red: "\ed7b";
$icon-rhinoceros: "\ed7c";
$icon-theregister: "\ed7d";
$icon-microgenetics: "\ed7e";
$icon-fujitsu: "\ed7f";
$icon-adobe: "\ed80";
$icon-dtube: "\ed81";
$icon-gulp: "\ed82";
$icon-turkishairlines: "\ed83";
$icon-reactrouter: "\ed84";
$icon-microsoftaccess: "\ed85";
$icon-wireguard: "\ed86";
$icon-fastly: "\ed87";
$icon-authy: "\ed88";
$icon-serverfault: "\ed89";
$icon-trendmicro: "\ed8a";
$icon-airbnb: "\ed8b";
$icon-netflix: "\ed8c";
$icon-hellyhansen: "\ed8d";
$icon-mojang: "\ed8e";
$icon-mega: "\ed8f";
$icon-nintendo3ds: "\ed90";
$icon-radiopublic: "\ed91";
$icon-ifood: "\ed92";
$icon-redbubble: "\ed93";
$icon-toyota: "\ed94";
$icon-yamahamotorcorporation: "\ed95";
$icon-mitsubishi: "\ed96";
$icon-mendeley: "\ed97";
$icon-macys: "\ed98";
$icon-opera: "\ed99";
$icon-gnusocial: "\ed9a";
$icon-twilio: "\ed9b";
$icon-mastercard: "\ed9c";
$icon-jest: "\ed9d";
$icon-pinterest: "\ed9e";
$icon-playerfm: "\ed9f";
$icon-vulkan: "\eda0";
$icon-justeat: "\eda1";
$icon-themighty: "\eda2";
$icon-instagram: "\eda3";
$icon-openstack: "\eda4";
$icon-angular: "\eda5";
$icon-audi: "\eda6";
$icon-commonworkflowlanguage: "\eda7";
$icon-polymerproject: "\eda8";
$icon-zigbee: "\eda9";
$icon-raspberrypi: "\edaa";
$icon-storybook: "\edab";
$icon-styled-components: "\edac";
$icon-apacheecharts: "\edad";
$icon-fiat: "\edae";
$icon-processwire: "\edaf";
$icon-apacheant: "\edb0";
$icon-graphql: "\edb1";
$icon-accusoft: "\edb2";
$icon-bit: "\edb3";
$icon-elixir: "\edb4";
$icon-disroot: "\edb5";
$icon-adobeindesign: "\edb6";
$icon-aurelia: "\edb7";
$icon-bbciplayer: "\edb8";
$icon-icomoon: "\edb9";
$icon-prestashop: "\edba";
$icon-woo: "\edbb";
$icon-t-mobile: "\edbc";
$icon-sass: "\edbd";
$icon-adobeaftereffects: "\edbe";
$icon-lyft: "\edbf";
$icon-slack: "\edc0";
$icon-bitrise: "\edc1";
$icon-roku: "\edc2";
$icon-woocommerce: "\edc3";
$icon-adobepremiere: "\edc4";
$icon-aiqfome: "\edc5";
$icon-tor: "\edc6";
$icon-scaleway: "\edc7";
$icon-gog-dot-com: "\edc8";
$icon-justgiving: "\edc9";
$icon-spinrilla: "\edca";
$icon-gatsby: "\edcb";

